@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ユーザ詳細";
}
<table class="table">
    <thead>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>氏名(カタカナ)</th>
            <th>年齢</th>
            <th>性別</th>
            <th>所属部署</th>
            <th>役職</th>
            <th>電話番号</th>
            <th>メールアドレス</th>
            <th>アカウント権限</th>
            <th>所属部署</th>
            <th>登録日</th>
            <th>更新日</th>
            <th>退職日</th>
        </tr>
    </thead>
    <tbody>
        @* テーブルのデータ行を情報の個数分繰り返し出力 *@
        @foreach (var user in Model.UserList)
        {
            <tr>
                <td>@user.EmployeeNo</td>
                <td>@user.Name</td>
                <td>@user.Namekana</td>
                <td>@user.department</td>
                <td>@user.TelNo</td>
                <td>@user.MailAdress</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>@user.Position</td>
                <td>@user.AccountLevel</td>
                <td>@user.RetireDate</td>
                <td>@user.RegisterDate</td>
                <td>@user.UpdateDate</td>
                @*<td>@user.DeleteFlag</td>*@
            </tr>
        }
    </tbody>
</table>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-danger" asp-controller="User" asp-action="Delete"> 削除 </a>
</div>


