@using WebApplication1.Models.Data;
@model UserViewModel
@{
    ViewData["Title"] = "ユーザ一覧";
}

<h2> ユーザ一覧</h2>
<a class="btn btn-primary" asp-controller="User" asp-action="Create">ユーザ追加</a>
<hr>

<table class="table">
    <thead>
        <tr><th></th>
            <th>社員番号</th>
            <th>氏名</th>
            <th>所属部署</th>
            <th>役職</th>
        </tr>
    </thead>
    <tbody>
        @* テーブルのデータ行を情報の個数分繰り返し出力 *@
        @foreach (var user in Model.UserList)
        {
            <tr>
                <td><a class="btn btn-primary" asp-action="Detail" asp-route-id="@user.EmployeeNo">詳細</a></td>
                <td>@user.EmployeeNo</td>
                <td>@user.Name</td>
                <td>@user.department</td>
                <td>@user.Position</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-primary me-md-2" type="button" onclick="history.back()">戻る</button>
    <a class="btn btn-primary" type="button" asp-action="Add">新規</a>
</div>


